@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins bg-white text-brand-dark-text antialiased;
}

.custom-bullet-list li::before {
  content: "\2022";
  color: #2B60FA;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}